* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  text-align: center;
}
 
.container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 35px auto 35px auto;

}

.container div {

  background-color: white;
  border: 0.5px solid grey;
  
}